Source: twitch-tag-media
Section: sound
Priority: optional
Maintainer: Rev. Duncan Ross Palmer <2e0eol@gmail.com>
Build-Depends: debhelper-compat (= 13)
Build-Depends-Indep: libsys-cpu-perl,
 id3v2,
 lame,
 libipc-run3-perl,
 libmoose-perl,
 libreadonly-perl,
 libuniversal-require-perl,
 sox
Standards-Version: 4.7.2
Rules-Requires-Root: no
Homepage: https://git.sr.ht/~m6kvm/twitch-tag-media

Package: twitch-tag-media
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
 ffmpeg,
 id3v2,
 libipc-run3-perl,
 libmoose-perl,
 libreadonly-perl,
 libsys-cpu-perl,
 libuniversal-require-perl,
 mkvtoolnix
Description: Perl program for tagging Twitch media files
 If you have used yt-dlp to download MP3 or MP4 files from Twitch,
 this program can set suitable tags on those files, recursively,
 so that programs like Plex know who the artists are.
